* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
}

/* For Desktop */
/*############################################################################
  ############################################################################*/
/*###############Container of the document#####################*/


.main-head {
  background-color: #0097A7;
  display: flex;
  flex-direction: row;
}


.logo {
  flex: 1 200px;
  order: 0;
}

.titulo {
  flex: 1 200px;
  order: 1;
  font-size: 120px;
  font-family: cursive;
  color: #f3e0e0;

}


.headnav {
  order: 3;
  background-color: #0097A7;
  flex: 1 200px;
}

.menuhead {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 5px;

}

.item_menuhead {
  flex: 0 1 100px;
  list-style-type: none;
  padding: 8px;
  text-transform: uppercase;
  font-size: 20px;
}


.menuhead li a {
  transition: all .9s;
  font-size: 20px;
  color: rgb(195, 180, 197);
}

.menuhead li a:hover {
  background-color: rgb(222, 160, 233);
  color: white;
  font-size: 25px;
  border-color: #b65;
}

.contenedor {
  background-color: white;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto;
  grid-template-areas:
    "content side";

}

.content {
  grid-area: content;
}

.side {
  background-color: #222527;
  grid-area: side;
}


.navigation {
  width: auto;
  background-color: #222527;
  height: 500px;
  position: sticky;
  z-index: 9999;
  top: 0px;
}

.mainmenu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mainmenu a {
  display: block;
  background-color: #222527;
  text-decoration: none;
  padding: 10px;
  color: rgb(155, 155, 155);

}

.mainmenu a:hover {
  background-color: rgb(61, 56, 56);
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: rgb(110, 101, 101);
}

.submenu a:hover {
  background-color: rgb(148, 230, 219);
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-out;
}



.LessonsCaja {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

}

article#c1,
article#c2,
article#c3,
article#c4,
article#c5,
article#c6 {
  flex: 0 1 auto;
  height: 400px;
  border: black solid 2px;
  background-color: blue;
  margin: 10px;


}


/* #########################++FOOTER++########################################
    ################################################################################### */


/* container */
.footer-container {
  color: #fff;
  background: #0097A7;
  padding: 3em 0;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "logo navigation secondary social"
    "contact contact . novedades";


}

/* logo */
.footer-logo {
  grid-area: logo;
}

.logo2 {
  height: 250px;
  width: 250px;

  /* nav */
}

.footer-nav {
  grid-area: navigation;
  justify-self: center;
  list-style: none;
}

.footer-secondary-nav {
  grid-area: secondary;
  list-style: none;
  justify-self: center;
}

.social-networks {
  grid-area: social;
}

.contact-block {
  grid-area: contact;
}

.novedades {
  grid-area: novedades;
}

/* socila network */
.social-networks {
  text-align: center;
}

.facebookc {
  width: 50px;
  height: 50px;
}

.instagramc {
  width: 50px;
  height: 50px;
}

.twiterc {
  width: 50px;
  height: 50px;
}

/* contact */
.contact-block,
.novedades {
  align-self: end;
}

.contact-block a {
  display: block;
  border: 2px solid #fff;
  padding: 0.5rem;
  margin: 10px 0 0;
  text-align: center;
  width: 70%;
}

.contact-block a:hover {
  border: 2px solid #f99639;
  color: #f99639;
}

.social-networks {
  border-bottom: 2px solid #f99639;
}


/* Terms */
/* .buttom-line {
    background-color: rgb(233, 215, 195);
    grid-area: buttom-line;
    color: #000000;
  } */


.novedades-text,
.text-input {
  text-align: center;
}

.text-input input {
  border-radius: 25px;
}

.text-input input:first-child {
  height: 2rem;
}

.text-input input:last-child {
  height: 35px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  background-color: #f99639;
  width: 100px;
  font-weight: bold;
}

.novedades-text icon,
.novedades-text p {
  margin: 0 0 1.1rem;
}

.novedades-text p {
  line-height: 2rem;
}

.footer a {
  color: rgb(218, 195, 195);
}


/*********************************************************
  ************************************************************
  ************************************************
  css
  ******************************************/


@media (min-width: 1300px) {#hamburguesa{
  display: none;
}}

/*
  ################################################################################
  ###################################**Large**###############################################
  ################################################################################
  ################################################################################### */

@media (min-width: 995px) and (max-width: 1299px) {
#hamburguesa{
  display: none;
}

  /*###############Container of the document#####################*/
  .contenedor {
    grid-template-columns: 1fr 100px;
  }

  .content {
    margin: 5px;

  }

  /* container */
  .footer-container {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo social"
      "contact  novedades";
  }

  .footer-nav {
    display: none;
  }

  .footer-secondary-nav {
    display: none;
  }
}

/* 
  ################################################################################
  ###################################**Medium**###############################################
  ################################################################################
  ################################################################################### */
@media (min-width: 576px) and (max-width: 995px) {
  #hamburguesa{
    display: none;
  }
  .logo1 {
    height: 150px;
    width: 150px;
    margin-top: 20px;
  }

  .titulo {
    font-size: 30px;
    display: none;
  }

  /* navigation */

  .menuhead li a {
    transition: all .9s;
    font-size: 16px;
    color: rgb(195, 180, 197);
  }

  .menuhead li a:hover {
    font-size: 16px;
  }

  .bluebtn {
    width: 50%;
  }

  .content {
    margin: 30px;
  }


  /* #########################++FOOTER++########################################
      ################################################################################### */
  /*Footer*/
  /* nav */
  .footer-container {
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto auto;
    grid-template-areas: "logo social"
      "contact  novedades";
  }


  .footer-nav {
    display: none;
  }

  .footer-secondary-nav {
    display: none;
  }

  .contact-block a {
    width: 90%;

  }
}

/* 
  ################################################################################
  ###################################**Small**###############################################
  ################################################################################
  ################################################################################### */
@media (min-width: 0px) and (max-width: 576px) {
  * {
    font-size: 15px;
  }

  /*###############Container of the document#####################*/
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    grid-template-areas:
      "content";
  }

  /*
      <!--####### ########## Here is  header ############# -->
      ###################################################################################
      */


  /* logo of de web */
  .logo1 {
    height: 100px;
    margin-top: 25px;
    display: none;
  }


  /* title */
  .titulo {
    display: none;

  }

  /* navigation */
  .menuhead li a {
    font-size: 18px;
  }

  .menuhead li a:hover {
    color: white;
    font-size: 20px;
    border-color: #b65;
  }

  /*
      <!--##### ##########Aqui empieza Main ############# -->
      ###################################################################################
      */

  /* container */



  /* ***********+++First section++++************* */


  /* ***********+++Nav++++************* */

  .item_menuvertical {
    flex: 1 0 30px;
    background-color: rgb(24, 240, 168);
    width: 30%;
    margin: auto;
  }

  .item_menuvertical a {
    text-decoration: none;
    transition: all .9s;
    font-size: 12px;
    margin-left: 4%;

  }

  .item_menuvertical :hover {
    font-size: 14px;
  }

  /* ***********+++Third Section++++************* */



  /* #########################Sidebar########################################
      ################################################################################### */
  .side {
    display: none;
  }

  /* #########################++FOOTER++########################################
      ################################################################################### */


  /* container */
  .footer-container {
    grid-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "logo "
      "social"
      "contact"
      "novedades";
  }

  /* logo */
  .footer-logo {
    grid-area: logo;
    display: none;
  }

  .logo2 {
    display: none;

  }

  /* nav */
  .footer-nav {
    display: none;
  }

  .footer-secondary-nav {
    display: none;
  }

  /* socila network */

  .facebookc {
    width: 40px;
    height: 40px;
  }

  .instagramc {
    width: 40px;
    height: 40px;
  }

  .twiterc {
    width: 40px;
    height: 40px;
  }

  /* contact */
  .contact-block {
    margin-left: 10px;
  }

  .contact-block a {
    width: 90%;

  }

#hamburgMenu{
  display: block;
}
  .hamburgMenu,
  .submenu1 {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .hamburgMenu a {
    display: block;
    background-color: #5a8cad;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);
  
  }
  
  .hamburgMenu a:hover {
    background-color: rgba(61, 56, 56, 0);
  }
  
  .hamburgMenu li:hover .submenu1 {
    display: block;
    max-height: 200px;
  }
  
  .submenu1 a {
    background-color: rgba(251, 207, 207, 0.192);
  }
  
  .submenu1 a:hover {
    background-color: rgb(148, 230, 219);
  }
  
  .submenu1 {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
  }

}


