/*<!--##### ##########Aqui empieza Main ############# -->
  ###################################################################################
  */
/* container */
.content {
  display: flex;
  flex-direction: row;
}

.cuerpocontenido {
  flex: 1 80%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;

}

.primerasection {
  flex: 1 600px;
}

.mainnav {
  flex: 1 90px;
}

.tercerasection {
  flex: 1 600px;
}

.cuartasection {
  flex: 1 600px;
}

/* image and text  */
.headimage {
  flex: 1 500px;
  width: 100%;
  background-image: url(img/pc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  /* filter: blur(6px);*/
}

.headimage p {
  background-color: rgba(61, 61, 60, 0.609);
  width: 50%;
}

.titulotexto {
  font-size: 50px;
}

.bluebtn {
  margin-top: 70px;
  margin-bottom: 70px;
  border: none;
  background: #d064da;
  color: #060707;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 30%;
  transition: all 0.3s ease 0s;
  background-image: url(img/estudiar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: right;
  border-radius: 15px;
}

.bluebtn:hover {
  color: #bd5e5e;
  letter-spacing: 3px;
  background: none;
  transition: all 0.6s ease 0s;
}

/* ***********+++First section++++************* */
.primerasection {
  background-color: rgba(230, 222, 222, 0.808);
}

.primerasection h2 {
  font-size: 45px;
}

.contenedorprimera {
  display: flex;
  flex-direction: row;
}

.contenedorprimera p {
  text-align: center;
}

.icono1 {
  flex: 1 1 100px;
  align-self: center;
}

.lee {
  width: 200px;
  height: 200px;
  margin-left: 30%;
}

.button3 {
  background-image: linear-gradient(to right bottom, #f2d85b, #ffc17f, #ffb7ae, #febad0, #d9c1da);
  color: #f8f8f8;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 30%;
  transition: all 0.3s ease 0s;
  height: 60px;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 35%;
}

.button3:hover {
  color: #bd5e5e;
  letter-spacing: 3px;
  background: none;
  transition: all 0.7s ease 0s;
}

/* ***********+++Nav++++************* */

.mainnav {
  position: sticky;
  z-index: 9999;
  top: 0px;
}

.menuvertical {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(194, 207, 203, 0.404);
  height: 100px;
}

.item_menuvertical {
  flex: 1 1 100px;
  background-color: rgb(160, 241, 214);
  list-style-type: none;
  border: rgb(22, 129, 129) 2px solid;
  padding: 6px;
  text-transform: uppercase;
  margin-right: 30px;
  height: 50px;
  border-radius: 15px;
}

.menuvertical li a {
  text-decoration: none;
  transition: all .9s;
  font-size: 14px;
}

.menuvertical li a:hover {
  color: white;
  font-size: 16px;
}

/* ***********+++Third Section++++************* */
.contenedorter {
  display: flex;
  flex-direction: row;
}

/* Text */
.tercerasection h2 {
  font-size: 30px;
  color: rgb(255, 71, 230);
}

/**** First swcond third  card ******/
.cajater1 {
  flex: 1;
  opacity: 0.6;
  transition: 0.5s;
  color: rgba(102, 51, 153, 0);
  border: black solid 2px;
  background-color: rgb(0, 128, 100);
}

.contenedorter .cajater1 img {
  width: 250px;
  margin-left: 60px;
}

.cajater1:hover {
  opacity: 1;
  color: #e9eaec;
  background: #333;
  transform: translateY(60px);
}

/* ***********+++fourth Section++++************* */
.cuartasection {
  margin-top: 50px;
  background-image: radial-gradient(circle, #e5aaa1, #c39a81, #9d8b6a, #787b5c, #576a53, #405f51, #2d5350, #1f474d,
      #1b3e4e, #22334a, #2d2840, #341c31);
}

.cuartasection h2 {
  font-size: 90px;
  color: rgb(7, 4, 7);
  margin-bottom: 30px;

}

.cajacuar {
  opacity: 0.8;
  transition: 0.5s;
  font-size: 20px;
  color: #d1c7c7;
}

.cajacuar:hover {
  opacity: 1;
  color: #000000;
  font-size: 23px;
  transform: translateY(-30px);
}

.cajacuar img {
  width: 600px;
  height: 100;
  float: left;
  clear: both;
}

.cajacuar p {
  text-align: center;
}

/* #########################Sidebar########################################
  ################################################################################### */
.side {
  background-color: rgba(230, 222, 222, 0.808);
  flex: 0 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info1 {
  border-radius: 10px;
  background-color: #5ffbf148;
  border: rgb(4, 77, 83) solid 11px;
  margin-bottom: 5%;

}
/*###################################**Large**############################################### */
@media (min-width: 995px) and (max-width: 1300px) {
.content{
  flex-direction: column;

}
.side{
margin-top: 10%;
}

}

/*###################################**Medium**############################################### */
@media (min-width: 576px) and (max-width: 995px) {
  /*  <!-Main -->
  /* container */
  .content {
    margin: 5px;
  }

  /* ***********+++First section++++************* */
  .contenedorprimera {
    flex-direction: column;
  }

  .button3 {
    width: 250px;
    height: 70px;
  }

  .lee {
    width: 150px;
    height: 150px;
    margin: 0 40%;
  }
  .icono1 {
    width: 100%;
  }
.icono1 p{
  text-align: center;
}
  /* ***********+++Third Section++++************* */
  .contenedorter {
    flex-direction: column;
  }

  /**** First card ******/
  .cajater1:hover {
    transform: translateY(5px);
  }

  /* ***********+++fourth Section++++************* */
  .cajacuar img {
    width: 400px;
  }

  /* #########################Sidebar########################################*/

  .side {
    display: none;
  }
}

/* #########################++FOOTER++########################################*/

/* ###################################**Small**###############################################*/
@media (min-width: 0px) and (max-width: 576px) {

  /*
    <!--Main -->
  /* container */
  .texto1 {
    width: 90%;
  }

  .headimage p {
    width: 60%;
  }

  .bluebtn {
    width: 40%;
  }

  .content {
    margin: 10px;
  }

  /* ***********+++First section++++************* */
  .primerasection h2 {
    font-size: 30px;
  }

  .contenedorprimera {
    flex-direction: column;
    margin-right: 50%;
  }

  .icono1 {
    flex: 1 1 50px;
    width: 500px;
    margin: auto;
  }

  .button3 {
    width: 220px;
    height: 70px;
    margin-left: 25%;

  }

  .lee {
    width: 150px;
    height: 150px;
  }

  /* ***********+++Third Section++++************* */

  .contenedorter {
    flex-direction: column;
  }

  /**** First card ******/
  .imgter1 {
    width: 200px;
    margin-left: 50px;
  }

  .cajater1:hover {
    transform: translateY(5px);
  }

  /* ***********+++fourth Section++++************* */
  .cajacuar img {
    width: 400px;
    float: initial;
  }

  .cuartasection h2 {
    font-size: 40px;
  }

  /* Sidebar */

  .side {
    display: none;
  }

  /* +FOOTER+ */
}