* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
}

/*HEADER***************************************************/

/*Search*/

.busqueda {
  display: flex;
  background-color: rgb(233, 215, 195);
  flex-direction: row;
}

.busca {
  flex: 1 100px;

}

.social1 {
  flex: 1 80%;
}

.lupa {
  width: 30px;
  height: 30px;
}

.buttonbuscar {
  background: #0b5b5d;
  padding: 20px;
  border-radius: 6px;
  transition: 0.7s;
  height: 30px;
  background-image: url(img/lupa.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: right;
  border-radius: 15px;

}

.buttonbuscar:hover {
  letter-spacing: 3px;
  background: rgb(175, 102, 102);
  transition: all 0.6s ease 0s;
}

/* social network */
.facebookc1 {
  width: 35px;
  height: 35px;
}

.instagramc1 {
  width: 35px;
  height: 35px;
}

.twiterc1 {
  width: 35px;
  height: 35px;
}

/*Navigacion Header*/
.main-head {
  background-color: #0097A7;
  display: flex;
  flex-direction: row;
  min-width: 450px;
}

.main-head .logo {
  flex: 1 200px;
  order: 0;
  background-color: #0097A7;
}

.main-head .titulo {
  flex: 1 200px;
  order: 1;
  font-size: 120px;
  font-family: cursive;
  color: #f3e0e0;

}

.headnav {
  flex: 1 200px;
  order: 3;
  background-color: #0097A7;

}

.menuhead {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  padding: 5px;

}

.item_menuhead {
  flex: 0 1 100px;
  list-style-type: none;
  padding: 8px;
  text-transform: uppercase;
  font-size: 20px;
}

.menuhead li a {
  transition: all .9s;
  font-size: 20px;
  color: rgb(195, 180, 197);
}

.menuhead li a:hover {
  background-color: rgb(222, 160, 233);
  color: white;
  font-size: 25px;
  border-color: #b65;
}

#hamburguesa {
  flex: 1 200px;
  order: 0;

}

/*
  <!--##### ##########Aqui empieza Main ############# -->
  ###################################################################################
  */

/* container */
.content {
  display: flex;
  flex-direction: row;

}

.cuerpocontenido {
  flex: 1 80%;
  display: flex;
  flex-direction: column;
  margin-right: 10px;

}

.primerasection {
  flex: 1 600px;

}

.mainnav {
  flex: 1 90px;

}

.tercerasection {
  flex: 1 600px;
}

.cuartasection {
  flex: 1 600px;
}


/* image and text  */

.headimage {
  flex: 1 500px;
  width: 100%;
  background-image: url(img/pc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  /* filter: blur(6px);*/

}

.headimage p {
  background-color: rgba(61, 61, 60, 0.609);
  width: 50%;
}

.titulotexto {
  font-size: 50px;
}

.bluebtn {
  margin-top: 70px;
  border: none;
  background: #d064da;
  color: #060707;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 30%;
  transition: all 0.3s ease 0s;
  background-image: url(img/estudiar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: right;
  border-radius: 15px;
}

.bluebtn:hover {
  color: #bd5e5e;
  letter-spacing: 3px;
  background: none;
  transition: all 0.6s ease 0s;
}

/* ***********+++First section++++************* */
.primerasection {
  background-color: rgba(230, 222, 222, 0.808);

}

.primerasection h2 {
  font-size: 45px;

}

.contenedorprimera {
  display: flex;
  flex-direction: row;

}

.contenedorprimera p {
  text-align: center;

}

.icono1 {
  flex: 1 1 100px;
  align-self: center;

}

.lee {
  width: 200px;
  height: 200px;
  margin-left: 30%;
}

.button3 {
  background-image: linear-gradient(to right bottom, #f2d85b, #ffc17f, #ffb7ae, #febad0, #d9c1da);
  color: #f8f8f8;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 30%;
  transition: all 0.3s ease 0s;
  height: 60px;
  border-radius: 15px;
  margin-top: 50px;
  margin-left: 35%;
}

.button3:hover {
  color: #bd5e5e;
  letter-spacing: 3px;
  background: none;
  transition: all 0.7s ease 0s;
}

/* ***********+++Nav++++************* */

.mainnav {
  position: sticky;
  z-index: 9999;
  top: 0px;
}

.menuvertical {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: rgba(194, 207, 203, 0.404);
  height: 100px;

}

.item_menuvertical {
  flex: 1 1 100px;
  background-color: rgb(160, 241, 214);
  list-style-type: none;
  border: rgb(22, 129, 129) 2px solid;
  padding: 6px;
  text-transform: uppercase;
  margin-right: 30px;
  height: 50px;
  border-radius: 15px;
}

.menuvertical li a {
  text-decoration: none;
  transition: all .9s;
  font-size: 14px;
}

.menuvertical li a:hover {
  color: white;
  font-size: 16px;
}

/* ***********+++Third Section++++************* */
.contenedorter {
  display: flex;
  flex-direction: row;
}

/* Text */
.tercerasection h2 {
  font-size: 30px;
  color: rgb(255, 71, 230);
}

/**** First swcond third  card ******/
.cajater1 {
  flex: 1;
  opacity: 0.6;
  transition: 0.5s;
  color: rgba(102, 51, 153, 0);
  border: black solid 2px;
  background-color: rgb(0, 128, 100);
}

.contenedorter .cajater1 img {
  width: 250px;
  margin-left: 60px;

}

.cajater1:hover {
  opacity: 1;
  color: #e9eaec;
  background: #333;
  transform: translateY(60px);

}

/* ***********+++fourth Section++++************* */
.cuartasection {
  margin-top: 50px;
  background-image: radial-gradient(circle, #e5aaa1, #c39a81, #9d8b6a, #787b5c, #576a53, #405f51, #2d5350, #1f474d,
      #1b3e4e, #22334a, #2d2840, #341c31);
}

.cuartasection h2 {
  font-size: 90px;
  color: rgb(7, 4, 7);
  margin-bottom: 30px;

}

.cajacuar {
  opacity: 0.8;
  transition: 0.5s;
  font-size: 20px;
  color: #d1c7c7;

}

.cajacuar:hover {
  opacity: 1;
  color: #000000;
  font-size: 23px;
  transform: translateY(-30px);

}

.cajacuar img {
  width: 600px;
  height: 100;
  float: left;
  clear: both;
}

.cajacuar p {
  text-align: center;
}

/* #########################Sidebar########################################
  ################################################################################### */
.side {
  background-color: rgba(230, 222, 222, 0.808);
  flex: 0 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.info1 {
  border-radius: 10px;
  background-color: #5ffbf148;
  border: #5ffbbf solid 10px;



}

/* #########################++FOOTER++########################################
  ################################################################################### */

.footer {
  min-width: 450px;
  color: #fff;
  background: #0097A7;
  padding: 2em 0;
  display: flex;
  flex-direction: row;
}

/*FIRST BLOCK*/
.logocontact {
  flex: 1 300px;
}

/*SECOND BLOCK*/
.news {
  flex: 1 400px;
}

/*THIRD BLOCK*/
.navegationfoot {
  flex: 1 100px;

}

/*FOURTH BLOCK*/
.navegationfootsecondary {
  flex: 1 100px;
}

.contact-block a {
  display: block;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 10px 0 0;
  text-align: center;
  width: 80%;
  color: #f939a9;
  background-color: rgba(0, 0, 0, 0.424);
}

.contact-block a:hover {
  border: 2px solid #f99639;
  color: #f99639;
}

.social-networks {
  margin-top: 60px;
  border-bottom: 2px solid #f99639;
  text-align: center;
}


.logo2 {
  height: 250px;
  width: 250px;
}

.footer-nav,
.footer-secondary-nav {
  list-style: none;
  color: #f939a9;
}

.footer-nav a,
.footer-secondary-nav a {
  list-style: none;
  color: #c7a5b9f1;
}

.facebookc {
  width: 50px;
  height: 50px;
}

.instagramc {
  width: 50px;
  height: 50px;
}

.twiterc {
  width: 50px;
  height: 50px;
}

.news .novedades {
  text-align: right;
  margin-right: 50px;
  margin-top: 50px;
}

.news .novedades p {
  text-align: center;
  margin-bottom: 50px;
}

.news .novedades input {
  text-align: center;
  border-radius: 25px;

}

.news .novedades input:first-child {
  height: 2rem;
}

.news .novedades input:last-child {
  height: 35px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 25px;
  background-color: #f99639;
  width: 100px;
  font-weight: bold;

}

@media (min-width: 1300px) {
  #hamburguesa {
    display: none;
  }

}

/*###################################**Large**###############################################*/

@media (min-width: 995px) and (max-width: 1299px) {
  #hamburguesa {
    display: none;
  }

  /*     <!--Main  --> */
  /* container */

  .content {
    flex-direction: column;
  }

  /* First section+*/
  .button3 {
    width: 300px;
    height: 70px;
  }

  /* Sidebar*/
  .side {
    flex-direction: row;
    margin: 30px;
  }

  /* +FOOTER++############ */

  .footer-nav {
    display: none;
  }

  .footer-secondary-nav {
    display: none;
  }
}

/*###################################**Medium**############################################### */
@media (min-width: 576px) and (max-width: 995px) {
  #hamburguesa {
    display: none;
  }

  /* Container of header */

  .logo1 {
    margin-top: 0px;
    height: 100px;
    width: 100px;

  }

  .titulo {
    display: none;
  }

  /* navigation */

  .menuhead li a {
    transition: all .9s;
    font-size: 16px;
    color: rgb(195, 180, 197);
  }

  .menuhead li a:hover {
    font-size: 16px;
  }

  .caja1 {
    margin-top: 20px;
  }

  .titulotexto {
    font-size: 40px;
  }

  .bluebtn {
    width: 30%;
  }


  /*  <!-Main -->
  /* container */
  .content {
    margin: 5px;
  }

  /* ***********+++First section++++************* */
  .contenedorprimera {
    flex-direction: column;
  }

  .button3 {
    width: 250px;
    height: 70px;
  }

  .lee {
    width: 150px;
    height: 150px;
  }

  /* ***********+++Third Section++++************* */
  .contenedorter {
    flex-direction: column;
  }

  /**** First card ******/
  .cajater1:hover {
    transform: translateY(5px);
  }

  /* ***********+++fourth Section++++************* */
  .cajacuar img {
    width: 400px;
  }

  /* #########################Sidebar########################################*/

  .side {
    grid-area: side;
    display: none;
  }

  /* #########################++FOOTER++########################################*/

  /*Footer*/
  /* nav */
  .footer-nav {
    display: none;
  }

  .footer-secondary-nav {
    display: none;
  }

  .contact-block a {
    width: 90%;

  }
}

/* ###################################**Small**###############################################*/
@media (min-width: 0px) and (max-width: 576px) {
  * {
    font-size: 15px;
  }

  /*
    <!-- header -->*/

  .busqueda {
    display: none;

  }

  .headnav {
    display: none;
  }

  #hamburgMenu {

    flex: 1 200px;
    display: block;

  }

  .hamburgMenu,
  .submenu1 {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .hamburgMenu a {
    display: block;
    background-color: #5a8cad;
    text-decoration: none;
    padding: 10px;
    color: rgb(255, 255, 255);

  }

  .hamburgMenu a:hover {
    background-color: rgba(61, 56, 56, 0);
  }

  .hamburgMenu li:hover .submenu1 {
    display: block;
    max-height: 200px;
  }

  .submenu1 a {
    background-color: rgba(251, 207, 207, 0.192);
  }

  .submenu1 a:hover {
    background-color: rgb(148, 230, 219);
  }

  .submenu1 {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-out;
  }

  /* logo of de web */
  .logo1 {
    height: 100px;
    margin-left: 150px;
    width: 100px;
  }

  .logo {
    order: 2;
  }

  /* title */
  .titulo {
    display: none;

  }

  /*
    <!--Main -->
  /* container */
  .texto1 {
    width: 90%;
  }

  .bluebtn {
    width: 20%;
  }

  .content {
    margin: 10px;
  }

  /* ***********+++First section++++************* */
  .primerasection h2 {
    font-size: 30px;
  }

  .contenedorprimera {
    flex-direction: column;
    margin-right: 50%;
  }

  .icono1 {
    flex: 1 1 50px;
    width: 500px;

  }

  .button3 {
    width: 220px;
    height: 70px;
    margin-left: 0;
  }

  .lee {
    width: 150px;
    height: 150px;
  }

  /* ***********+++Third Section++++************* */

  .contenedorter {
    flex-direction: column;
  }

  /**** First card ******/
  .imgter1 {
    width: 200px;
    margin-left: 50px;

  }

  .cajater1:hover {
    transform: translateY(5px);

  }

  /* ***********+++fourth Section++++************* */
  .cajacuar img {
    width: 400px;
    float: initial;

  }

  .cuartasection h2 {
    font-size: 40px;
  }

  /* Sidebar */

  .side {
    display: none;
  }

  /* +FOOTER+ */
  .footer {
    flex-direction: column;
  }

  /*FIRST BLOCK*/
  .logocontact {
    display: none;
  }

  /*SECOND BLOCK*/
  .news {
    flex: 1 200px;
    align-self: center;
  }

  /*THIRD BLOCK*/
  .navegationfoot {
    display: none;

  }

  /*FOURTH BLOCK*/
  .navegationfootsecondary {
    display: none;
  }

  /* socila network */

  .facebookc {
    width: 40px;
    height: 40px;
  }

  .instagramc {
    width: 40px;
    height: 40px;
  }

  .twiterc {
    width: 40px;
    height: 40px;
  }
}